# EDA for Football Transfers - cleaning

### Tasks
- Clean the dataset
- Transform data
- Data statistics
- Data visualizations
- Relationships extraction, variable (feature) selection

In [43]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

from general_functions import value_counts, missing_values

**Import of selected libraries (visit readme for installation process)**

In [44]:
df = pd.read_csv("data/fotbal_prestupy_2000_2019.csv")

**Read data from csv. In this case is not required to change format (UTF-8) or define delimiter**

In [45]:
df.head()

,Jméno,Pozice,Věk,Původní tým,Původní liga,Nový tým,Nová Liga,Sezóna,Odhadovaná hodnota,Přestupová částka
0,Luís Figo,Right Winger,27,FC Barcelona,LaLiga,Real Madrid,LaLiga,2000-2001,NaN,60000000
1,Hernán Crespo,Centre-Forward,25,Parma,Serie A,Lazio,Serie A,2000-2001,NaN,56810000
2,Marc Overmars,Left Winger,27,Arsenal,Premier League,FC Barcelona,LaLiga,2000-2001,NaN,40000000
3,Gabriel Batistuta,Centre-Forward,31,Fiorentina,Serie A,AS Roma,Serie A,2000-2001,NaN,36150000
4,Nicolas Anelka,Centre-Forward,21,Real Madrid,LaLiga,Paris SG,Ligue 1,2000-2001,NaN,34500000

In [46]:
df.shape

(4700, 10)

### First I'm checking with basic operations if import was correct and how data looks like
1. **Data imported correctly?**
    - Yes
2. **Shape of data (dimensions) are according assignment task?**
    - Yes -> 4700 x 10
3. **Columns names and their descriptions is in allignment?**
    - Name - Jméno
    - Position - Pozice
    - Age - Věk
    - Original team - Původní tým (ze ktéreho byl prodán)
    - Original league - Původní liga (působiště týmu)
    - New team - Nový tým (kam se hráč prodáva)
    - New league - Nová liga (kam se hráč prodáva)
    - Season - Sezóna (kdy došlo k přestupu)
    - Estimated value - Odhadovaná tržní hodnota hráče (EUR)
    - Actual value - Skutečná hodnota přestupu (EUR)

In [47]:
df.columns

Index(['Jméno', 'Pozice', 'Věk', 'Původní tým', 'Původní liga', 'Nový tým',
       'Nová  Liga', 'Sezóna', 'Odhadovaná hodnota', 'Přestupová částka'],
      dtype='object')

In [48]:
df = df.rename(columns={'Jméno': 'Name', 'Pozice': 'Position', 'Věk': 'Age', 'Původní tým': 'Original Team', 'Původní liga': 'Original League', 'Nový tým': 'New Team', 'Nová  Liga': 'New League', 'Sezóna': 'Season', 'Odhadovaná hodnota': 'Estimated Value', 'Přestupová částka': 'Actual Value'})

In [49]:
df

,Name,Position,Age,Original Team,Original League,New Team,New League,Season,Estimated Value,Actual Value
0,Luís Figo,Right Winger,27,FC Barcelona,LaLiga,Real Madrid,LaLiga,2000-2001,NaN,60000000
1,Hernán Crespo,Centre-Forward,25,Parma,Serie A,Lazio,Serie A,2000-2001,NaN,56810000
2,Marc Overmars,Left Winger,27,Arsenal,Premier League,FC Barcelona,LaLiga,2000-2001,NaN,40000000
3,Gabriel Batistuta,Centre-Forward,31,Fiorentina,Serie A,AS Roma,Serie A,2000-2001,NaN,36150000
4,Nicolas Anelka,Centre-Forward,21,Real Madrid,LaLiga,Paris SG,Ligue 1,2000-2001,NaN,34500000
...,...,...,...,...,...,...,...,...,...,...
4695,Jasmin Kurtic,Attacking Midfield,29,Atalanta,Serie A,SPAL,Serie A,2018-2019,5000000.0,4800000
4696,Tchê Tchê,Central Midfield,25,Palmeiras,Série A,Dynamo Kyiv,Premier Liga,2018-2019,3000000.0,4800000
4697,Silvan Widmer,Right-Back,25,Udinese Calcio,Serie A,FC Basel,Super League,2018-2019,8500000.0,4500000
4698,Yuya Osako,Second Striker,28,1. FC Köln,2.Bundesliga,Werder Bremen,1.Bundesliga,2018-2019,4500000.0,4500000
4699,Kyle Bartley,Centre-Back,27,Swansea,Championship,West Brom,Championship,2018-2019,3500000.0,4500000

**I renamed columns with english translation.** I also noticed typo in column name of "Nová liga".

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4700 entries, 0 to 4699
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             4700 non-null   object
 1   Position         4700 non-null   object
 2   Age              4700 non-null   int64
 3   Original Team    4700 non-null   object
 4   Original League  4700 non-null   object
 5   New Team         4700 non-null   object
 6   New League       4700 non-null   object
 7   Season           4700 non-null   object
 8   Estimated Value  3440 non-null   float64
 9   Actual Value     4700 non-null   int64
dtypes: float64(1), int64(2), object(7)
memory usage: 367.3+ KB

**Info provide a small insight into data types. Seems to be correct.**
- I might check Estimated Value column for NaNs
- Season I probably want to have as int.

## Cleaning dataset

In [51]:
missing_values(df)

Name - 0.0%
Position - 0.0%
Age - 0.0%
Original Team - 0.0%
Original League - 0.0%
New Team - 0.0%
New League - 0.0%
Season - 0.0%
Estimated Value - 26.80851063829787%
Actual Value - 0.0%

**Data are relatively clean. Almost all of them contain values, there is only one column with missing data - "Estimated Value". Almost 27% of data is missing.**
- Question: is there reason why this data is missing?
  - Option A: Players were not valuated
  - Option B: It was not important/expected to collect these values (estimated values of players)
- This will require further data exploration

In [52]:
value_counts(df)

Value counts for column 'Name':
Name
Alex                  8
Fernando              7
Peter Crouch          7
Craig Bellamy         6
Paulinho              6
                     ..
Marius Wolf           1
Benedikt Höwedes      1
Sergi Gómez           1
Adam Masina           1
Christophe Hérelle    1
Name: count, Length: 3104, dtype: int64


Value counts for column 'Position':
Position
Centre-Forward        1218
Centre-Back            714
Central Midfield       487
Attacking Midfield     426
Defensive Midfield     411
Right Winger           305
Left Winger            267
Left-Back              225
Right-Back             181
Goalkeeper             180
Second Striker         130
Left Midfield           87
Right Midfield          63
Forward                  3
Sweeper                  1
Defender                 1
Midfielder               1
Name: count, dtype: int64


Value counts for column 'Age':
Age
24    536
25    524
23    519
26    481
22    461
27    404
21    371
28    327
20    302
29    223
19    165
30    157
18     82
31     59
32     30
17     23
33     15
16     10
34      5
35      4
0       1
15      1
Name: count, dtype: int64


Value counts for column 'Original Team':
Original Team
Inter           68
Spurs           63
Juventus        59
Chelsea         57
FC Porto        56
                ..
Basaksehir       1
KV Oostende      1
RS Berkane       1
Junior FC        1
Portimonense     1
Name: count, Length: 570, dtype: int64


Value counts for column 'Original League':
Original League
Premier League                608
Serie A                       602
Ligue 1                       428
LaLiga                        418
1.Bundesliga                  265
                             ...
U18 Premier League              1
A Grupa - Championship gr.      1
 Canada                         1
Proximus League                 1
Botola Pro                      1
Name: count, Length: 118, dtype: int64


Value counts for column 'New Team':
New Team
Inter             97
Chelsea           96
Man City          94
Spurs             93
Juventus          87
                  ..
Los Angeles FC     1
FC Barcelona B     1
SPAL               1
FC Augsburg        1
GZ R&F             1
Name: count, Length: 325, dtype: int64


Value counts for column 'New League':
New League
Premier League                     1256
Serie A                             739
LaLiga                              525
1.Bundesliga                        422
Ligue 1                             397
                                   ...
 Bulgaria                             1
Primavera B                           1
Segunda División - Segunda Fase       1
Ledman Liga Pro                       1
 Uruguay                              1
Name: count, Length: 65, dtype: int64


Value counts for column 'Season':
Season
2001-2002    250
2013-2014    250
2008-2009    250
2016-2017    250
2011-2012    249
2009-2010    249
2006-2007    249
2015-2016    248
2000-2001    248
2007-2008    248
2004-2005    248
2012-2013    248
2005-2006    247
2014-2015    246
2018-2019    245
2010-2011    245
2002-2003    244
2017-2018    244
2003-2004    242
Name: count, dtype: int64


Value counts for column 'Estimated Value':
Estimated Value
5000000.0      225
6000000.0      194
4000000.0      168
10000000.0     161
3000000.0      160
              ...
6250000.0        1
70000000.0       1
1150000.0        1
90000000.0       1
120000000.0      1
Name: count, Length: 180, dtype: int64


Value counts for column 'Actual Value':
Actual Value
5000000      259
4000000      222
6000000      199
8000000      171
4500000      168
            ...
125000000      1
222000000      1
6870000        1
37900000       1
36150000       1
Name: count, Length: 507, dtype: int64

#### Value counts provide also important insights:
- **Name**:
    - Some of the names are missing part (surname or first name) of the name. Might be identified with id or combination with league and team.
    - It can also mean that some players did multiple transfers. But might be problem if names are the same but other variables are different. Worth checking
- **Position**:
    - Centre-Forward was the position that has the most transfers. Players on this position are traded often.
    - Midfielder/Defender/Sweeper were positions that were almost never traded (1 for each). 
- **Age**:
    - Most players are traded around age 22-27 years old
    - There was player traded at age 15 years old
    - There was player with age 0 - that is probably mistake or missing age data. Worth checking
- **Original Team, Original League, New Team, New League**:
    - Data seems to be okay. Probably not missing anything specific or out of pattern
    - Recheck with unique values
-  **Season**:
    - Count of seasons, nothing specific to notice
    - Worth to change it to years and create new columns season start and end 
- **Estimated Value, Actual Value**:
    - Estimated value is in float format
    - At first sight nothing specific, but probably will change the units

### Assigning unique Id

In [53]:
name_check = df.loc[df["Name"] == "Alex"]

In [54]:
name_check

,Name,Position,Age,Original Team,Original League,New Team,New League,Season,Estimated Value,Actual Value
321,Alex,Attacking Midfield,23,Cruzeiro,Brazil,Parma,Serie A,2001-2002,NaN,8000000
357,Alex,Attacking Midfield,24,Parma,Serie A,Cruzeiro,Brazil,2001-2002,NaN,6000000
1007,Alex,Centre-Back,22,Santos FC,Brazil,Chelsea,Premier League,2004-2005,NaN,11500000
1092,Alex,Attacking Midfield,26,Cruzeiro,Brazil,Fenerbahce,Süper Lig,2004-2005,NaN,4000000
2139,Alex,Attacking Midfield,26,Internacional,Série A,Spartak Moscow,Premier Liga,2008-2009,7500000.0,5000000
2584,Alex,Attacking Midfield,29,Spartak Moscow,Premier Liga,Corinthians,Série A,2010-2011,8000000.0,6000000
2880,Alex,Centre-Back,29,Chelsea,Premier League,Paris SG,Ligue 1,2011-2012,13000000.0,5000000
3099,Alex,Attacking Midfield,30,Corinthians,Série A,Al Gharafa,Stars League,2012-2013,3500000.0,6000000

**This is important. I can see that first two rows is the same player, but after that is another player. Now I need to create new column to identified players so I can seperate them**
 - First idea -> unique identifier is combination of name + postion (should not change) + season + age
     - *This was not correct. In this case, age can change during within season, thus not recognizing correct players.*
     - *Also I realise that league can also change every season. So player may enter new team in league, let's say,  serie A, but next season the league could be serie B because it descend lower due to bad performance*

In [55]:
player_id_map = {}
latest_transfer_map = {} 
current_id = 1
def assign_player_id(row):
    global current_id

    name, position, original_team = row["Name"], row["Position"], row["Original Team"]
    new_team = row["New Team"]
    
    for player_id, info in player_id_map.items():
        if info["name"] == name and info["position"] == position:
            if latest_transfer_map[player_id] == original_team:
                latest_transfer_map[player_id] = new_team
                return player_id

    # I create new Id if no match was found
    new_player_id = "Player_" + str(current_id)
    current_id += 1

    player_id_map[new_player_id] = {"name": name, "position": position}
    latest_transfer_map[new_player_id] = new_team

    return new_player_id

In [56]:
df["Player ID"] = df.apply(assign_player_id, axis=1)

In [57]:
name_check = df.loc[(df["Name"] == "Alex")]
name_check

,Name,Position,Age,Original Team,Original League,New Team,New League,Season,Estimated Value,Actual Value,Player ID
321,Alex,Attacking Midfield,23,Cruzeiro,Brazil,Parma,Serie A,2001-2002,NaN,8000000,Player_316
357,Alex,Attacking Midfield,24,Parma,Serie A,Cruzeiro,Brazil,2001-2002,NaN,6000000,Player_316
1007,Alex,Centre-Back,22,Santos FC,Brazil,Chelsea,Premier League,2004-2005,NaN,11500000,Player_904
1092,Alex,Attacking Midfield,26,Cruzeiro,Brazil,Fenerbahce,Süper Lig,2004-2005,NaN,4000000,Player_316
2139,Alex,Attacking Midfield,26,Internacional,Série A,Spartak Moscow,Premier Liga,2008-2009,7500000.0,5000000,Player_1649
2584,Alex,Attacking Midfield,29,Spartak Moscow,Premier Liga,Corinthians,Série A,2010-2011,8000000.0,6000000,Player_1649
2880,Alex,Centre-Back,29,Chelsea,Premier League,Paris SG,Ligue 1,2011-2012,13000000.0,5000000,Player_904
3099,Alex,Attacking Midfield,30,Corinthians,Série A,Al Gharafa,Stars League,2012-2013,3500000.0,6000000,Player_1649

 - **Second idea -> unique identifier is combination of name and position. If it match, then check original team and new team. After matching name and position compare with this occurence.**
     - I changed the approach. I look how I assessed if the player is the same or different one. What I compared was original team with new team from previous occurence (search).
     - Simply, if name and position match with another records, I check the original team and compared with new team. I stored in the varaible for the latest transfer. Now I always compare if player name and position match with team from latest_transfer_map. If it match, then it is the same player
     - If no match was found I assign player new Id

In [58]:
df["Player ID"].value_counts()

Player ID
Player_55      6
Player_900     6
Player_329     6
Player_394     6
Player_321     6
              ..
Player_615     1
Player_616     1
Player_19      1
Player_617     1
Player_3301    1
Name: count, Length: 3301, dtype: int64

In [59]:
player_check = df.loc[df["Player ID"] == "Player_394"]
player_check

,Name,Position,Age,Original Team,Original League,New Team,New League,Season,Estimated Value,Actual Value,Player ID
408,Alberto Gilardino,Centre-Forward,19,Piacenza,Serie A,Hellas Verona,Serie A,2001-2002,NaN,3870000,Player_394
516,Alberto Gilardino,Centre-Forward,20,Hellas Verona,Serie B,Parma,Serie A,2002-2003,NaN,12000000,Player_394
1236,Alberto Gilardino,Centre-Forward,23,Parma,Serie A,AC Milan,Serie A,2005-2006,20000000.0,25000000,Player_394
2006,Alberto Gilardino,Centre-Forward,26,AC Milan,Serie A,Fiorentina,Serie A,2008-2009,17000000.0,14000000,Player_394
2806,Alberto Gilardino,Centre-Forward,29,Fiorentina,Serie A,Genoa,Serie A,2011-2012,16000000.0,8000000,Player_394
3643,Alberto Gilardino,Centre-Forward,32,Genoa,Serie A,GZ Evergrande,Super League,2014-2015,5000000.0,5500000,Player_394

**I did small random checks if the players match.**

### Checking NaN values, transforming data

In [60]:
df["Estimated Value (mil)"] = df["Estimated Value"] / 1_000_000

In [61]:
df["Estimated Value (mil)"].value_counts()

Estimated Value (mil)
5.00      225
6.00      194
4.00      168
10.00     161
3.00      160
         ...
6.25        1
70.00       1
1.15        1
90.00       1
120.00      1
Name: count, Length: 180, dtype: int64

In [62]:
nan_rows = df[df["Estimated Value"].isna()]

In [63]:
nan_rows

,Name,Position,Age,Original Team,Original League,New Team,New League,Season,Estimated Value,Actual Value,Player ID,Estimated Value (mil)
0,Luís Figo,Right Winger,27,FC Barcelona,LaLiga,Real Madrid,LaLiga,2000-2001,NaN,60000000,Player_1,NaN
1,Hernán Crespo,Centre-Forward,25,Parma,Serie A,Lazio,Serie A,2000-2001,NaN,56810000,Player_2,NaN
2,Marc Overmars,Left Winger,27,Arsenal,Premier League,FC Barcelona,LaLiga,2000-2001,NaN,40000000,Player_3,NaN
3,Gabriel Batistuta,Centre-Forward,31,Fiorentina,Serie A,AS Roma,Serie A,2000-2001,NaN,36150000,Player_4,NaN
4,Nicolas Anelka,Centre-Forward,21,Real Madrid,LaLiga,Paris SG,Ligue 1,2000-2001,NaN,34500000,Player_5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4355,Douglas Luiz,Central Midfield,19,Vasco da Gama,Série A,Man City,Premier League,2017-2018,NaN,12000000,Player_3041,NaN
4427,Jadon Sancho,Left Winger,17,Man City U18,U18 Premier League,Bor. Dortmund,1.Bundesliga,2017-2018,NaN,7840000,Player_3097,NaN
4618,Davide Bettella,Centre-Back,18,Inter,Serie A,Atalanta,Serie A,2018-2019,NaN,7000000,Player_3230,NaN
4648,William Bianda,Centre-Back,18,Lens,Ligue 2,AS Roma,Serie A,2018-2019,NaN,6000000,Player_3256,NaN
4662,Fernando,Left Winger,19,Palmeiras,Série A,Shakhtar D.,Premier Liga,2018-2019,NaN,5500000,Player_3267,NaN

In [64]:
df["Actual Value (mil)"] = df["Actual Value"] / 1_000_000

In [65]:
df

,Name,Position,Age,Original Team,Original League,New Team,New League,Season,Estimated Value,Actual Value,Player ID,Estimated Value (mil),Actual Value (mil)
0,Luís Figo,Right Winger,27,FC Barcelona,LaLiga,Real Madrid,LaLiga,2000-2001,NaN,60000000,Player_1,NaN,60.00
1,Hernán Crespo,Centre-Forward,25,Parma,Serie A,Lazio,Serie A,2000-2001,NaN,56810000,Player_2,NaN,56.81
2,Marc Overmars,Left Winger,27,Arsenal,Premier League,FC Barcelona,LaLiga,2000-2001,NaN,40000000,Player_3,NaN,40.00
3,Gabriel Batistuta,Centre-Forward,31,Fiorentina,Serie A,AS Roma,Serie A,2000-2001,NaN,36150000,Player_4,NaN,36.15
4,Nicolas Anelka,Centre-Forward,21,Real Madrid,LaLiga,Paris SG,Ligue 1,2000-2001,NaN,34500000,Player_5,NaN,34.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4695,Jasmin Kurtic,Attacking Midfield,29,Atalanta,Serie A,SPAL,Serie A,2018-2019,5000000.0,4800000,Player_3297,5.0,4.80
4696,Tchê Tchê,Central Midfield,25,Palmeiras,Série A,Dynamo Kyiv,Premier Liga,2018-2019,3000000.0,4800000,Player_3298,3.0,4.80
4697,Silvan Widmer,Right-Back,25,Udinese Calcio,Serie A,FC Basel,Super League,2018-2019,8500000.0,4500000,Player_3299,8.5,4.50
4698,Yuya Osako,Second Striker,28,1. FC Köln,2.Bundesliga,Werder Bremen,1.Bundesliga,2018-2019,4500000.0,4500000,Player_3300,4.5,4.50
4699,Kyle Bartley,Centre-Back,27,Swansea,Championship,West Brom,Championship,2018-2019,3500000.0,4500000,Player_3301,3.5,4.50

### Remove faulty rows

In [66]:
low_age_rows = df[df["Age"]< 15]
low_age_rows

,Name,Position,Age,Original Team,Original League,New Team,New League,Season,Estimated Value,Actual Value,Player ID,Estimated Value (mil),Actual Value (mil)
236,Marzouq Al-Otaibi,Centre-Forward,0,Shabab,Saudi Arabia,Ittihad,Saudi Arabia,2000-2001,NaN,2000000,Player_236,NaN,2.0

In [67]:
# Original Code
#df =df.drop(low_age_rows.index)

# Edited Code

df.loc[df["Player ID"] == "Player_236", "Age"] = 24
check_player = df[df["Player ID"] == "Player_236"]
check_player

,Name,Position,Age,Original Team,Original League,New Team,New League,Season,Estimated Value,Actual Value,Player ID,Estimated Value (mil),Actual Value (mil)
236,Marzouq Al-Otaibi,Centre-Forward,24,Shabab,Saudi Arabia,Ittihad,Saudi Arabia,2000-2001,NaN,2000000,Player_236,NaN,2.0

**Removing row with incorrect data**
- I noticed that the youngest player traded was 15 years old, which still seems to be possible, so condition is set under 15.
- I see the player with age 0 which is probably mistake during insertion of record. There are possibilities how to deal with this problem:
    - Try to fix the player age -> With quick search, I'm able to find player profile https://www.transfermarkt.com/marzouq-al-otaibi/transfers/spieler/28152/transfer_id/765037 . Born Nov.1975, transfered Jul.2000, I'm able to quickly determine his age = 24.
    - Drop the incorrect row -> Pretend that I'm not able to determine player age e.g. transaction dataset in banks must be precise. If I don't have correct data I won't include it.
- **For this case I decided to remove this row, it won't have impact overall on total statistic**

**EDIT:**
- Based on the feedback instead of removing this column I will fix the value with correct number, thus changing the age to 24 for player with ID player_236.

### Transforming Season into separate columns

In [68]:
df[["Season Start", "Season End"]] = df["Season"].str.split("-", expand=True)
df["Season Start"] = df["Season Start"].astype(int)
df["Season End"] = df["Season End"].astype(int)

In [69]:
df

,Name,Position,Age,Original Team,Original League,New Team,New League,Season,Estimated Value,Actual Value,Player ID,Estimated Value (mil),Actual Value (mil),Season Start,Season End
0,Luís Figo,Right Winger,27,FC Barcelona,LaLiga,Real Madrid,LaLiga,2000-2001,NaN,60000000,Player_1,NaN,60.00,2000,2001
1,Hernán Crespo,Centre-Forward,25,Parma,Serie A,Lazio,Serie A,2000-2001,NaN,56810000,Player_2,NaN,56.81,2000,2001
2,Marc Overmars,Left Winger,27,Arsenal,Premier League,FC Barcelona,LaLiga,2000-2001,NaN,40000000,Player_3,NaN,40.00,2000,2001
3,Gabriel Batistuta,Centre-Forward,31,Fiorentina,Serie A,AS Roma,Serie A,2000-2001,NaN,36150000,Player_4,NaN,36.15,2000,2001
4,Nicolas Anelka,Centre-Forward,21,Real Madrid,LaLiga,Paris SG,Ligue 1,2000-2001,NaN,34500000,Player_5,NaN,34.50,2000,2001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4695,Jasmin Kurtic,Attacking Midfield,29,Atalanta,Serie A,SPAL,Serie A,2018-2019,5000000.0,4800000,Player_3297,5.0,4.80,2018,2019
4696,Tchê Tchê,Central Midfield,25,Palmeiras,Série A,Dynamo Kyiv,Premier Liga,2018-2019,3000000.0,4800000,Player_3298,3.0,4.80,2018,2019
4697,Silvan Widmer,Right-Back,25,Udinese Calcio,Serie A,FC Basel,Super League,2018-2019,8500000.0,4500000,Player_3299,8.5,4.50,2018,2019
4698,Yuya Osako,Second Striker,28,1. FC Köln,2.Bundesliga,Werder Bremen,1.Bundesliga,2018-2019,4500000.0,4500000,Player_3300,4.5,4.50,2018,2019
4699,Kyle Bartley,Centre-Back,27,Swansea,Championship,West Brom,Championship,2018-2019,3500000.0,4500000,Player_3301,3.5,4.50,2018,2019

**Separation of season column**
- I will probably want to see data based on year, so I create new columns and cast it as int

### Checking on values in leagues

In [70]:
df["Original League"].unique()

array(['LaLiga', 'Serie A', 'Premier League', 'Ligue 1', 'LaLiga2',
       ' Brazil', ' Argentina', 'Serie B', '1.Bundesliga', 'Premier Liga',
       'Liga NOS', ' Czech Republic', ' Serbia', 'Eredivisie', ' England',
       ' Scotland', 'Süper Lig', 'Eliteserien', ' Croatia',
       'Super League', ' Mexico', ' Chile', 'Ligue 2', ' Uruguay',
       ' Bulgaria', ' Korea, South', 'Ekstraklasa', ' Sweden', ' Latvia',
       '2.Bundesliga', 'J1 - 2nd Stage', ' Finland', ' Denmark',
       'Jupiler Pro League', ' Saudi Arabia', ' Australia',
       'First Division', ' Portugal', ' Slovakia', ' Romania',
       'Vysheyshaya Liga', ' China', '1.Liga gr. 1', ' Iran',
       'Bundesliga', ' Venezuela', 'Primera Div. Apertura',
       'Second Division (bis 03/04)', ' France',
       'Auf-/Abstiegsrunde NLA/NLB', 'U19 Eredivisie', '1.Lig',
       ' United States', 'Challenge League', 'Premiership', "Ligat ha'Al",
       'K League 1', 'HET Liga', 'MLS', ' Spain', ' Tunisia',
       ' South Africa', 'Virsliga', 'Serie C - A', 'Regionalliga Nord',
       ' Colombia', ' Russia', ' Moldova', 'Championship', 'Série A',
       'Superligaen', 'J1 League', ' Peru', ' Paraguay', 'NB I.',
       ' Ukraine', 'Torneo Final', 'Allsvenskan', 'SuperLiga', ' Qatar',
       '1.HNL', 'OBOS-ligaen', '2ª B - Grupo III', 'Liga MX Clausura',
       'Liga 1', 'League One', 'Superettan', ' Ghana', 'Serie C - B',
       'Série B', ' Ecuador', 'J2 League', ' United Arab Emirates',
       'Primera División', 'Primera B Nacional', 'Primavera B',
       '2ª B - Grupo I', '3.Liga', 'Liga Águila II', 'Segunda División',
       'Professional League', 'Stars League', 'Ligue I Pro',
       'Championnat National', 'Korean FA Cup', 'UAE Gulf League',
       'Torneo Inicial', 'Serie A Segunda Etapa', '1.Division',
       'Rel. Ligue 1', 'Liga 1 - Championship group',
       'U18 Premier League', 'Superligaen Championship round',
       'A Grupa - Championship gr.', 'Liga MX Apertura', ' Canada',
       'Proximus League', 'Botola Pro'], dtype=object)

In [71]:
df["New League"].unique()

array(['LaLiga', 'Serie A', 'Ligue 1', 'Premier League', ' Scotland',
       'Süper Lig', '1.Bundesliga', 'Eredivisie', 'Liga NOS', ' Brazil',
       ' England', 'Super League', 'Bundesliga', 'First Division',
       'Jupiler Pro League', 'Serie B', 'Premier Liga', ' Saudi Arabia',
       ' Portugal', ' United Arab Emirates', ' Wales', 'J2 League',
       ' Venezuela', ' Argentina', ' Belgium', ' China', ' Mexico',
       'Second Division (bis 03/04)', ' Czech Republic', ' Croatia',
       ' Libya', ' Israel', 'J1 - 2nd Stage', ' Bulgaria', ' Denmark',
       ' Sweden', ' Romania', ' Korea, South', 'Série A', 'Premiership',
       'Serie C - B', 'Championship', ' Qatar', 'Superligaen',
       'Allsvenskan', 'J1 League', 'SuperLiga', 'Torneo Final',
       'Eliteserien', 'Liga MX Clausura', '2.Bundesliga', 'LaLiga2',
       'Professional League', 'Primavera B', ' Russia', 'Stars League',
       'Ligue 2', 'MLS', 'UAE Gulf League', 'Primera División',
       'Segunda División - Segunda Fase', 'League One', 'Ledman Liga Pro',
       ' Uruguay', 'Liga MX Apertura'], dtype=object)

In [30]:
df["New League"] = df["New League"].str.lstrip()
df["Original League"] = df["Original League"].str.lstrip()

In [31]:
df["Original League"].unique()

array(['LaLiga', 'Serie A', 'Premier League', 'Ligue 1', 'LaLiga2',
       'Brazil', 'Argentina', 'Serie B', '1.Bundesliga', 'Premier Liga',
       'Liga NOS', 'Czech Republic', 'Serbia', 'Eredivisie', 'England',
       'Scotland', 'Süper Lig', 'Eliteserien', 'Croatia', 'Super League',
       'Mexico', 'Chile', 'Ligue 2', 'Uruguay', 'Bulgaria',
       'Korea, South', 'Ekstraklasa', 'Sweden', 'Latvia', '2.Bundesliga',
       'J1 - 2nd Stage', 'Finland', 'Denmark', 'Jupiler Pro League',
       'Australia', 'First Division', 'Portugal', 'Slovakia', 'Romania',
       'Vysheyshaya Liga', 'China', '1.Liga gr. 1', 'Iran', 'Bundesliga',
       'Venezuela', 'Primera Div. Apertura',
       'Second Division (bis 03/04)', 'France',
       'Auf-/Abstiegsrunde NLA/NLB', 'U19 Eredivisie', '1.Lig',
       'United States', 'Challenge League', 'Premiership', "Ligat ha'Al",
       'K League 1', 'HET Liga', 'MLS', 'Spain', 'Tunisia',
       'South Africa', 'Virsliga', 'Serie C - A', 'Regionalliga Nord',
       'Colombia', 'Russia', 'Moldova', 'Championship', 'Série A',
       'Superligaen', 'J1 League', 'Peru', 'Paraguay', 'NB I.', 'Ukraine',
       'Torneo Final', 'Saudi Arabia', 'Allsvenskan', 'SuperLiga',
       'Qatar', '1.HNL', 'OBOS-ligaen', '2ª B - Grupo III',
       'Liga MX Clausura', 'Liga 1', 'League One', 'Superettan', 'Ghana',
       'Serie C - B', 'Série B', 'Ecuador', 'J2 League',
       'United Arab Emirates', 'Primera División', 'Primera B Nacional',
       'Primavera B', '2ª B - Grupo I', '3.Liga', 'Liga Águila II',
       'Segunda División', 'Professional League', 'Stars League',
       'Ligue I Pro', 'Championnat National', 'Korean FA Cup',
       'UAE Gulf League', 'Torneo Inicial', 'Serie A Segunda Etapa',
       '1.Division', 'Rel. Ligue 1', 'Liga 1 - Championship group',
       'U18 Premier League', 'Superligaen Championship round',
       'A Grupa - Championship gr.', 'Liga MX Apertura', 'Canada',
       'Proximus League', 'Botola Pro'], dtype=object)

In [32]:
filtered_rows = df[
    (
        df["Original League"].str.contains(r"série a", case=False) &
        df["New League"].str.contains(r"serie a", case=False)
    ) |
    (
        df["Original League"].str.contains(r"serie a", case=False) &
        df["New League"].str.contains(r"série a", case=False)
    )
]

In [33]:
filtered_rows.head(30)

,Name,Position,Age,Original Team,Original League,New Team,New League,Season,Estimated Value,Actual Value,Player ID,Estimated Value (mil),Actual Value (mil),Season Start,Season End
1158,Júlio César,Goalkeeper,25,Flamengo,Série A,Inter,Serie A,2004-2005,2000000.0,2450000,Player_1008,2.00,2.45,2004,2005
1738,Alexandre Pato,Centre-Forward,17,Internacional,Série A,AC Milan,Serie A,2007-2008,4000000.0,24000000,Player_1402,4.00,24.00,2007,2008
2033,Thiago Silva,Centre-Back,24,Fluminense,Série A,AC Milan,Serie A,2008-2009,7500000.0,10000000,Player_1570,7.50,10.00,2008,2009
2507,Hernanes,Attacking Midfield,25,São Paulo,Série A,Lazio,Serie A,2010-2011,9000000.0,13500000,Player_1892,9.00,13.50,2010,2011
2655,Mario Bolatti,Defensive Midfield,25,Fiorentina,Serie A,Internacional,Série A,2010-2011,5500000.0,4000000,Player_1872,5.50,4.00,2010,2011
2704,Neto,Goalkeeper,21,Atlético-PR,Série A,Fiorentina,Serie A,2010-2011,1800000.0,3500000,Player_2027,1.80,3.50,2010,2011
2717,Ronaldinho,Attacking Midfield,30,AC Milan,Serie A,Flamengo,Série A,2010-2011,27500000.0,3000000,Player_366,27.50,3.00,2010,2011
2893,Jonathan,Right-Back,25,Santos FC,Série A,Inter,Serie A,2011-2012,4500000.0,5000000,Player_2135,4.50,5.00,2011,2012
2921,Zé Love,Second Striker,23,Santos FC,Série A,Genoa,Serie A,2011-2012,3000000.0,4500000,Player_2153,3.00,4.50,2011,2012
2951,Juan Jesus,Centre-Back,20,Internacional,Série A,Inter,Serie A,2011-2012,3000000.0,3800000,Player_2176,3.00,3.80,2011,2012
2995,Alexandre Pato,Centre-Forward,23,AC Milan,Serie A,Corinthians,Série A,2012-2013,28500000.0,15000000,Player_1402,28.50,15.00,2012,2013
3105,Marquinhos,Centre-Back,18,Corinthians,Série A,AS Roma,Serie A,2012-2013,750000.0,5700000,Player_2254,0.75,5.70,2012,2013
3114,Maicosuel,Left Winger,26,Botafogo,Série A,Udinese Calcio,Serie A,2012-2013,2500000.0,5300000,Player_1826,2.50,5.30,2012,2013
3134,Leandro Castán,Centre-Back,25,Corinthians,Série A,AS Roma,Serie A,2012-2013,2500000.0,5000000,Player_2273,2.50,5.00,2012,2013
3214,Marquinho,Left Midfield,26,Fluminense,Série A,AS Roma,Serie A,2012-2013,4500000.0,3500000,Player_2335,4.50,3.50,2012,2013
3348,Felipe Anderson,Right Winger,20,Santos FC,Série A,Lazio,Serie A,2013-2014,6000000.0,7500000,Player_2400,6.00,7.50,2013,2014
3409,Rafael,Goalkeeper,23,Santos FC,Série A,SSC Napoli,Serie A,2013-2014,4000000.0,5000000,Player_2436,4.00,5.00,2013,2014
3459,Henrique,Centre-Back,27,Palmeiras,Série A,SSC Napoli,Serie A,2013-2014,2500000.0,4000000,Player_2479,2.50,4.00,2013,2014
3576,Charles Aránguiz,Central Midfield,25,Udinese Calcio,Serie A,Internacional,Série A,2014-2015,3000000.0,8000000,Player_2480,3.00,8.00,2014,2015
3696,Guilherme,Defensive Midfield,23,Corinthians,Série A,Udinese Calcio,Serie A,2014-2015,2500000.0,4500000,Player_2635,2.50,4.50,2014,2015
3991,Gabriel Barbosa,Second Striker,20,Santos FC,Série A,Inter,Serie A,2016-2017,20000000.0,29500000,Player_2809,20.00,29.50,2016,2017
4030,Gerson,Right Winger,19,Fluminense,Série A,AS Roma,Serie A,2016-2017,6000000.0,16600000,Player_2831,6.00,16.60,2016,2017
4130,Nicolás López,Centre-Forward,22,Udinese Calcio,Serie A,Internacional,Série A,2016-2017,3000000.0,9090000,Player_2484,3.00,9.09,2016,2017
4164,Alisson,Goalkeeper,23,Internacional,Série A,AS Roma,Serie A,2016-2017,7000000.0,8000000,Player_2923,7.00,8.00,2016,2017
4419,Vitor Hugo,Centre-Back,26,Palmeiras,Série A,Fiorentina,Serie A,2017-2018,4500000.0,8000000,Player_3090,4.50,8.00,2017,2018
4651,Bremer,Centre-Back,21,Atlético-MG,Série A,Torino,Serie A,2018-2019,1000000.0,5800000,Player_3259,1.00,5.80,2018,2019
4687,Felipe Vizeu,Centre-Forward,21,Flamengo,Série A,Udinese Calcio,Serie A,2018-2019,1500000.0,5000000,Player_3289,1.50,5.00,2018,2019

**Cleaning values**
- Here I was concerned that e.g. Série A and Serie A might be the same value but with typo or different data input method. I wrote condition to compare data.
    - Apparently "Série A" and "Serie A" are different leagues. The pattern is that "Serie A" league is always connected with teams based in Brazil, "Serie A" are teams based in Italy.
    - Data are ok
- Also I noticed that if league is smaller, data tend to show country. Country commonly contained leading space. Thus I removed the space.

**EDIT:**
- According feedback some leagues can be filtered separatelly. Especially in case of states.
- I would like to keep info about leagues but clean values as following:
    - if league for particular state is highest league, leave the original name.
    - if league is second highest leave the original name or adjust so it can be distiguished.
    - if league is the name of state find the key to determine if it is the highest (first league) or other league
    - check values for leagues with different name but same level as "Czech republic" is the same as "HET liga"

In [73]:
df.columns

Index(['Name', 'Position', 'Age', 'Original Team', 'Original League',
       'New Team', 'New League', 'Season', 'Estimated Value', 'Actual Value',
       'Player ID', 'Estimated Value (mil)', 'Actual Value (mil)',
       'Season Start', 'Season End'],
      dtype='object')

In [114]:
columns = ['Player ID', 'Name','Season Start', 'Original Team', 'Original League', 'New Team', 'New League']
df_league = df.copy()
df_league = df_league[columns]
df_league

,Player ID,Name,Season Start,Original Team,Original League,New Team,New League
0,Player_1,Luís Figo,2000,FC Barcelona,LaLiga,Real Madrid,LaLiga
1,Player_2,Hernán Crespo,2000,Parma,Serie A,Lazio,Serie A
2,Player_3,Marc Overmars,2000,Arsenal,Premier League,FC Barcelona,LaLiga
3,Player_4,Gabriel Batistuta,2000,Fiorentina,Serie A,AS Roma,Serie A
4,Player_5,Nicolas Anelka,2000,Real Madrid,LaLiga,Paris SG,Ligue 1
...,...,...,...,...,...,...,...
4695,Player_3297,Jasmin Kurtic,2018,Atalanta,Serie A,SPAL,Serie A
4696,Player_3298,Tchê Tchê,2018,Palmeiras,Série A,Dynamo Kyiv,Premier Liga
4697,Player_3299,Silvan Widmer,2018,Udinese Calcio,Serie A,FC Basel,Super League
4698,Player_3300,Yuya Osako,2018,1. FC Köln,2.Bundesliga,Werder Bremen,1.Bundesliga
4699,Player_3301,Kyle Bartley,2018,Swansea,Championship,West Brom,Championship

#### Czech league edit

In [118]:
df_czech_league = df_league[
    df_league["Original League"].str.contains("Czech", case=False, na=False) | 
    df_league["New League"].str.contains("Czech", case=False, na=False)
]
df_czech_league

,Player ID,Name,Season Start,Original Team,Original League,New Team,New League
34,Player_35,Tomás Rosicky,2000,Sparta Praha,Czech Republic 1st League,Bor. Dortmund,1.Bundesliga
167,Player_168,Vratislav Lokvenc,2000,Sparta Praha,Czech Republic 1st League,1.FC K'lautern,1.Bundesliga
184,Player_185,Milan Fukal,2000,Sparta Praha,Czech Republic 1st League,Hamburger SV,1.Bundesliga
346,Player_338,Milan Baros,2001,Banik Ostrava,Czech Republic 1st League,Liverpool,Premier League
564,Player_529,Petr Cech,2002,Sparta Praha,Czech Republic 1st League,Stade Rennais,Ligue 1
597,Player_559,Jiri Stajner,2002,Slovan Liberec,Czech Republic 1st League,Hannover 96,1.Bundesliga
598,Player_560,Jiri Jarosik,2002,Sparta Praha,Czech Republic 1st League,CSKA Moscow,Premier Liga
707,Player_656,Stepan Vachousek,2002,FK Teplice,Czech Republic 1st League,Slavia Prag,Czech Republic 1st League
829,Player_756,Zdenek Grygera,2003,Sparta Praha,Czech Republic 1st League,AFC Ajax,Eredivisie
864,Player_656,Stepan Vachousek,2003,Slavia Prag,Czech Republic 1st League,Marseille,Ligue 1
872,Player_792,Jan Lastuvka,2003,Banik Ostrava,Czech Republic 1st League,Shakhtar D.,Premier Liga
923,Player_839,Rudi Skácel,2003,Slavia Prag,Czech Republic 1st League,Marseille,Ligue 1
930,Player_845,Vaclav Sverkos,2003,Banik Ostrava,Czech Republic 1st League,Bor. M'gladbach,1.Bundesliga
960,Player_871,Richard Dostalek,2003,Slavia Prag,Czech Republic 1st League,Rubin Kazan,Premier Liga
1089,Player_961,Radoslav Kovac,2004,Sparta Praha,Czech Republic 1st League,Spartak Moscow,Premier Liga
1142,Player_996,Tomas Hübschman,2004,Sparta Praha,Czech Republic 1st League,Shakhtar D.,Premier Liga
1165,Player_1012,Marek Heinz,2004,Banik Ostrava,Czech Republic 1st League,Bor. M'gladbach,1.Bundesliga
1366,Player_1151,Filip Holosko,2005,Slovan Liberec,Czech Republic 1st League,Manisaspor,Süper Lig
1367,Player_1152,Tomas Jun,2005,Sparta Praha,Czech Republic 1st League,Trabzonspor,Süper Lig
1420,Player_1186,Lukas Zelenka,2005,Sparta Praha,Czech Republic 1st League,Manisaspor,Süper Lig
1464,Player_1223,Marián Had,2005,Zbrojovka Brno,Czech Republic 1st League,Loko Moscow,Premier Liga
1962,Player_1539,Edin Dzeko,2007,FK Teplice,Czech Republic 1st League,VfL Wolfsburg,1.Bundesliga
2176,Player_1678,Tomas Necid,2008,Slavia Prag,Czech Republic 1st League,CSKA Moscow,Premier Liga
2596,Player_1940,Tomas Kalas,2010,Sigma Olomouc,Czech Republic 1st League,Chelsea,Premier League
2670,Player_1998,Wilfried Bony,2010,Sparta Praha,Czech Republic 1st League,Vitesse,Eredivisie
2671,Player_1999,Juraj Kucka,2010,Sparta Praha,Czech Republic 1st League,Genoa,Serie A
2681,Player_2009,Marek Suchy,2010,Slavia Prag,Czech Republic 1st League,Spartak Moscow,Premier Liga
3452,Player_2473,Vladimír Darida,2013,Viktoria Plzen,Czech Republic 1st League,SC Freiburg,1.Bundesliga
4148,Player_2911,Borek Dockal,2016,Sparta Praha,Czech Republic 1st League,HN Jianye,Super League

In [119]:
df_het = df_league[
    df_league["Original League"].str.contains("HET", case=False, na=False) | 
    df_league["New League"].str.contains("HET", case=False, na=False)
]
df_het

Empty DataFrame
Columns: [Player ID, Name, Season Start, Original Team, Original League, New Team, New League]
Index: []

In [116]:
df_league.loc[
    df_league["Original League"].str.contains("HET Liga|Czech Republic", case=False, na=False),
    "Original League"
] = "Czech Republic 1st League"

df_league.loc[
    df_league["New League"].str.contains("HET Liga|Czech Republic", case=False, na=False),
    "New League"
] = "Czech Republic 1st League"

#### Mexiko league edit

In [121]:
df_mexiko_league = df_league[
    df_league["Original League"].str.contains("Liga mx", case=False, na=False) | 
    df_league["New League"].str.contains("Liga mx", case=False, na=False)
]
df_mexiko_league

,Player ID,Name,Season Start,Original Team,Original League,New Team,New League
1626,Player_506,Matías Vuoso,2006,Santos Laguna,Liga MX Clausura,América,Liga MX Clausura
1628,Player_1315,Salvador Cabañas,2006,Chiapas FC,Liga MX Clausura,América,Liga MX Clausura
1632,Player_1319,Francisco Fonseca,2006,Benfica,Liga NOS,Tigres UANL,Liga MX Clausura
1650,Player_1333,Ricardo Osorio,2006,CD Cruz Azul,Liga MX Clausura,VfB Stuttgart,1.Bundesliga
1651,Player_1334,Francisco Fonseca,2006,CD Cruz Azul,Liga MX Clausura,Benfica,Liga NOS
...,...,...,...,...,...,...,...
4649,Player_3257,Milton Caraglio,2018,Atlas,Liga MX Apertura,CD Cruz Azul,Liga MX Apertura
4650,Player_3258,Elías Hernández,2018,León,Liga MX Apertura,CD Cruz Azul,Liga MX Apertura
4664,Player_3269,Carlos Izquierdoz,2018,Santos Laguna,Liga MX Apertura,Boca Juniors,Primera División
4665,Player_3270,Jesús Gallardo,2018,UNAM Pumas,Liga MX Apertura,Monterrey,Liga MX Apertura
4678,Player_2493,Juan Iturbe,2018,AS Roma,Serie A,Club Tijuana,Liga MX Apertura

In [134]:
df_primera = df_league[
    df_league["Original League"].str.contains("Primera División", case=False, na=False) | 
    df_league["New League"].str.contains("Primera División", case=False, na=False)
]
df_primera

Empty DataFrame
Columns: [Player ID, Name, Season Start, Original Team, Original League, New Team, New League]
Index: []

In [128]:
df_league.loc[
    df_league["Original League"].str.contains("Primera División|Liga MX Apertura|Liga MX Clausura", case=False, na=False),
    "Original League"
] = "Liga MX"

df_league.loc[
    df_league["New League"].str.contains("Primera División|Liga MX Apertura|Liga MX Clausura", case=False, na=False),
    "New League"
] = "Liga MX"

#### Sweden league edit

In [143]:
df_sweden_league = df_league[
    df_league["Original League"].str.contains("Sweden", case=False, na=False) | 
    df_league["New League"].str.contains("Sweden", case=False, na=False)
]
df_sweden_league

Empty DataFrame
Columns: [Player ID, Name, Season Start, Original Team, Original League, New Team, New League]
Index: []

In [144]:
df_allsven = df_league[
    df_league["Original League"].str.contains("Allsvenskan", case=False, na=False) | 
    df_league["New League"].str.contains("Allsvenskan", case=False, na=False)
]
df_allsven

,Player ID,Name,Season Start,Original Team,Original League,New Team,New League
183,Player_184,Johan Elmander,2000,Örgryte,Allsvenskan,Feyenoord,Eredivisie
327,Player_321,Zlatan Ibrahimovic,2001,Malmö FF,Allsvenskan,AFC Ajax,Eredivisie
479,Player_462,Fredrik Berglund,2001,Elfsborg,Allsvenskan,Roda JC,Eredivisie
639,Player_595,Rade Prica,2002,Helsingborg,Allsvenskan,Hansa Rostock,1.Bundesliga
820,Player_748,Kim Källström,2003,Djurgarden,Allsvenskan,Stade Rennais,Ligue 1
917,Player_834,Álvaro Santos,2003,Helsingborg,Allsvenskan,FC Copenhagen,Denmark
951,Player_863,Afonso Alves,2003,Örgryte,Allsvenskan,Malmö FF,Allsvenskan
954,Player_866,Kennedy,2003,Hammarby,Allsvenskan,Iraklis,Super League
1215,Player_1054,Andreas Isaksson,2004,Djurgarden,Allsvenskan,Stade Rennais,Ligue 1
1224,Player_1062,Atiba Hutchinson,2004,Östers IF,Superettan,Helsingborg,Allsvenskan
1303,Player_1103,Markus Rosenberg,2005,Malmö FF,Allsvenskan,AFC Ajax,Eredivisie
1440,Player_1204,Sören Larsen,2005,Djurgarden,Allsvenskan,FC Schalke 04,1.Bundesliga
1597,Player_863,Afonso Alves,2006,Malmö FF,Allsvenskan,Heerenveen,Eredivisie
1718,Player_1391,Luton Shelton,2006,Helsingborg,Allsvenskan,Sheffield Utd.,Premier League
1910,Player_1505,Ari,2007,Kalmar FF,Allsvenskan,AZ Alkmaar,Eredivisie
1956,Player_1534,Marcus Berg,2007,IFK Göteborg,Allsvenskan,FC Groningen,Eredivisie
2211,Player_1709,Ola Toivonen,2008,Malmö FF,Allsvenskan,PSV Eindhoven,Eredivisie
2699,Player_2022,Emir Bajrami,2010,Elfsborg,Allsvenskan,FC Twente,Eredivisie
2902,Player_2142,Alexander Gerndt,2011,Helsingborg,Allsvenskan,FC Utrecht,Eredivisie
4144,Player_2909,Alexander Isak,2016,AIK Solna,Allsvenskan,Bor. Dortmund,1.Bundesliga

In [141]:
df_supretan = df_league[
    df_league["Original League"].str.contains("Superettan", case=False, na=False) | 
    df_league["New League"].str.contains("Superettan", case=False, na=False)
]
df_supretan

,Player ID,Name,Season Start,Original Team,Original League,New Team,New League
1224,Player_1062,Atiba Hutchinson,2004,Östers IF,Superettan,Helsingborg,Allsvenskan
1698,Player_1372,Aílton,2006,Örgryte,Superettan,FC Copenhagen,Superligaen

In [140]:
df_league.loc[df["Player ID"] == "Player_1062", "Original League"] = "Superettan"
check_player = df_league[df_league["Player ID"] == "Player_1062"]
check_player

,Player ID,Name,Season Start,Original Team,Original League,New Team,New League
1224,Player_1062,Atiba Hutchinson,2004,Östers IF,Superettan,Helsingborg,Allsvenskan

In [142]:
df_league.loc[
    df_league["Original League"].str.contains("Sweden", case=False, na=False),
    "Original League"
] = "Allsvenskan"

df_league.loc[
    df_league["New League"].str.contains("Sweden", case=False, na=False),
    "New League"
] = "Allsvenskan"

#### League changes:
1. Czech republic - Czech republic 1st league - unification of country value "Czech republic" and old sponsors name "HET Liga"
2. Mexiko - Liga MX - unification of Primera División and Liga MX Apertura and Clausura.
   - Here I don't need to have separate values as aperutra refers to opening season (summer) and clausura refers to closing season (winter) Both leagues have same value and thus I treat them as first league
3. Sweden - Allsvenskan - more complicated. I need to unify between 1.league Allsvenskan ans 2.league Superettan. This step I don manually via researching seasons https://en.wikipedia.org/wiki/2000_Allsvenskan, https://en.wikipedia.org/wiki/2001_Allsvenskan etc, https://en.wikipedia.org/wiki/%C3%96sters_IF. All values were Allsvenskan except Östers IFduring season 4 which was Superettan league

### Saving data to csv files

In [34]:
df.columns

Index(['Name', 'Position', 'Age', 'Original Team', 'Original League',
       'New Team', 'New League', 'Season', 'Estimated Value', 'Actual Value',
       'Player ID', 'Estimated Value (mil)', 'Actual Value (mil)',
       'Season Start', 'Season End'],
      dtype='object')

In [35]:
df_columns_new = ['Player ID', 'Name', 'Position', 'Age', 'Original Team', 'Original League',
       'New Team', 'New League', 'Season Start', 'Season End', 'Estimated Value (mil)', 'Actual Value (mil)']

In [36]:
df_cleaned = df[df_columns_new]

In [37]:
df_cleaned

,Player ID,Name,Position,Age,Original Team,Original League,New Team,New League,Season Start,Season End,Estimated Value (mil),Actual Value (mil)
0,Player_1,Luís Figo,Right Winger,27,FC Barcelona,LaLiga,Real Madrid,LaLiga,2000,2001,NaN,60.00
1,Player_2,Hernán Crespo,Centre-Forward,25,Parma,Serie A,Lazio,Serie A,2000,2001,NaN,56.81
2,Player_3,Marc Overmars,Left Winger,27,Arsenal,Premier League,FC Barcelona,LaLiga,2000,2001,NaN,40.00
3,Player_4,Gabriel Batistuta,Centre-Forward,31,Fiorentina,Serie A,AS Roma,Serie A,2000,2001,NaN,36.15
4,Player_5,Nicolas Anelka,Centre-Forward,21,Real Madrid,LaLiga,Paris SG,Ligue 1,2000,2001,NaN,34.50
...,...,...,...,...,...,...,...,...,...,...,...,...
4695,Player_3297,Jasmin Kurtic,Attacking Midfield,29,Atalanta,Serie A,SPAL,Serie A,2018,2019,5.0,4.80
4696,Player_3298,Tchê Tchê,Central Midfield,25,Palmeiras,Série A,Dynamo Kyiv,Premier Liga,2018,2019,3.0,4.80
4697,Player_3299,Silvan Widmer,Right-Back,25,Udinese Calcio,Serie A,FC Basel,Super League,2018,2019,8.5,4.50
4698,Player_3300,Yuya Osako,Second Striker,28,1. FC Köln,2.Bundesliga,Werder Bremen,1.Bundesliga,2018,2019,4.5,4.50
4699,Player_3301,Kyle Bartley,Centre-Back,27,Swansea,Championship,West Brom,Championship,2018,2019,3.5,4.50

In [38]:
df_cleaned_not_na = df_cleaned.copy()

In [39]:
df_cleaned_not_na["Estimated Value (mil)"] = df_cleaned_not_na["Estimated Value (mil)"].fillna(0)

In [40]:
df_cleaned_not_na

,Player ID,Name,Position,Age,Original Team,Original League,New Team,New League,Season Start,Season End,Estimated Value (mil),Actual Value (mil)
0,Player_1,Luís Figo,Right Winger,27,FC Barcelona,LaLiga,Real Madrid,LaLiga,2000,2001,0.0,60.00
1,Player_2,Hernán Crespo,Centre-Forward,25,Parma,Serie A,Lazio,Serie A,2000,2001,0.0,56.81
2,Player_3,Marc Overmars,Left Winger,27,Arsenal,Premier League,FC Barcelona,LaLiga,2000,2001,0.0,40.00
3,Player_4,Gabriel Batistuta,Centre-Forward,31,Fiorentina,Serie A,AS Roma,Serie A,2000,2001,0.0,36.15
4,Player_5,Nicolas Anelka,Centre-Forward,21,Real Madrid,LaLiga,Paris SG,Ligue 1,2000,2001,0.0,34.50
...,...,...,...,...,...,...,...,...,...,...,...,...
4695,Player_3297,Jasmin Kurtic,Attacking Midfield,29,Atalanta,Serie A,SPAL,Serie A,2018,2019,5.0,4.80
4696,Player_3298,Tchê Tchê,Central Midfield,25,Palmeiras,Série A,Dynamo Kyiv,Premier Liga,2018,2019,3.0,4.80
4697,Player_3299,Silvan Widmer,Right-Back,25,Udinese Calcio,Serie A,FC Basel,Super League,2018,2019,8.5,4.50
4698,Player_3300,Yuya Osako,Second Striker,28,1. FC Köln,2.Bundesliga,Werder Bremen,1.Bundesliga,2018,2019,4.5,4.50
4699,Player_3301,Kyle Bartley,Centre-Back,27,Swansea,Championship,West Brom,Championship,2018,2019,3.5,4.50

In [41]:
df_cleaned

,Player ID,Name,Position,Age,Original Team,Original League,New Team,New League,Season Start,Season End,Estimated Value (mil),Actual Value (mil)
0,Player_1,Luís Figo,Right Winger,27,FC Barcelona,LaLiga,Real Madrid,LaLiga,2000,2001,NaN,60.00
1,Player_2,Hernán Crespo,Centre-Forward,25,Parma,Serie A,Lazio,Serie A,2000,2001,NaN,56.81
2,Player_3,Marc Overmars,Left Winger,27,Arsenal,Premier League,FC Barcelona,LaLiga,2000,2001,NaN,40.00
3,Player_4,Gabriel Batistuta,Centre-Forward,31,Fiorentina,Serie A,AS Roma,Serie A,2000,2001,NaN,36.15
4,Player_5,Nicolas Anelka,Centre-Forward,21,Real Madrid,LaLiga,Paris SG,Ligue 1,2000,2001,NaN,34.50
...,...,...,...,...,...,...,...,...,...,...,...,...
4695,Player_3297,Jasmin Kurtic,Attacking Midfield,29,Atalanta,Serie A,SPAL,Serie A,2018,2019,5.0,4.80
4696,Player_3298,Tchê Tchê,Central Midfield,25,Palmeiras,Série A,Dynamo Kyiv,Premier Liga,2018,2019,3.0,4.80
4697,Player_3299,Silvan Widmer,Right-Back,25,Udinese Calcio,Serie A,FC Basel,Super League,2018,2019,8.5,4.50
4698,Player_3300,Yuya Osako,Second Striker,28,1. FC Köln,2.Bundesliga,Werder Bremen,1.Bundesliga,2018,2019,4.5,4.50
4699,Player_3301,Kyle Bartley,Centre-Back,27,Swansea,Championship,West Brom,Championship,2018,2019,3.5,4.50

In [42]:
df_cleaned_not_na.to_csv("data/df_cleaned_not_na.csv", index=False)
df_cleaned.to_csv("data/df_cleaned.csv", index=False)

**Saving data**
- I'm saving to two files
    - data_cleaned - contains data with NaNs
    - data_cleaned_not_na - contains data with imputed value of 0 instead of NaNs